html, body {
    overflow: auto;
}
@font-face {
  font-family: myHPFont;
  src: url(hp-simplified.ttf);
}
body{
  font-family: myHPFont;
  background-color: #01081f;
  font-size: 1rem;
  color: #ffffff;
  /*background: url(../img/bg-blur.jpg) #01081f;*/
  background-size: 100%;
  background-repeat: repeat;  
   overflow-x: hidden;
}
.hp-bg{
    background: url(../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-color: #01081f; */
    position: relative;
}
.hp-bg .container.page-landing {
    padding-top: 6rem;
}
.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
    border: 2px solid #ffffff;

}
.navbar-toggler .icon-bar {
    background-color: #ffffff;
}
.navbar-collapse {
  flex-flow: row-reverse;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    margin-top: 0.4rem;
}
/*.top-img-col img{
  height: 80%;
}*/
.hp-h3{
  font-size: 1.7rem;
}
.hp-h3{
  font-size: 1.3rem;
}
.hp-h4{
  font-size: 1.0rem;
}
.hp-h5{
  font-size: 0.8rem;
}
.hp-h6{
  font-size: 0.5rem;
}
.navbar-inverse .navbar-nav > li > a{
  color: white !important;
  cursor: pointer;
}
.navbar {
    background: none !important;
    background-color: transparent !important; 
    padding: 0.1rem 1rem;
}
.navbar.fixed-top.bg-purple {
    background: #36075f !important;
    box-shadow: 3px 1px 5px 0px #36075f;    
}
.subscribe-container{
  background:#151c32;
}
.text-hp-blue{
  color: #3487d4
}
.text-hp-green{
  color:#28ae62;
}
.text-hp-red{
  color:#e74c3c;
}
.text-hp-gray{
  color: #c5d0e6;
}
.navbar-brand{
      position: relative;
    margin-left: 5%;
}
.navbar-brand img{
   /*position: absolute;
    top: -30px;*/
   /* background: #3487d4; */
}
.navbar-inverse {
  border: none !important;
}
.navbar-inverse .navbar-toggle{
  border: none !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background:none !important;
}
li.nav-item{
  text-align: right;
}
.error-msg{
 color: #d75a4a;
 text-align: center;
  background: #ec998b54;
  border: 1px solid;
  border-radius: 21px;
  font-size: 14px;
  padding: 2px 5px; 
}
.form-control{
   color:#929699;
}
.left-partition{
    padding: 0;
}
.right-partition{
  background:#ffffff;
  color:#4a4a4a;
}
.footer-section{
  color: #7e8085 !important;
  background: #151c32;
}
.page-container{  
  height: 100vh;
  overflow: auto;
}
.modal-header {
    position: relative;
    background: #3487d4;
}
.modal-content img {
    width:75%
}
.modal-body{
  color:#333333;
}
.modal-content {
    border-radius: 10px;
}
button.close{
  opacity: 1;
}
button.close::after{
    content: 'X';
    position: absolute;
    right: -2rem;
    top: -2rem;
    background: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 999999;
    font-size: 1rem;
    color: #3487d4;
    line-height: 1.5;
}
.carousal-modal button.close::after {
    content: 'X';
    position: absolute;
    right: 2rem;
    top: -2rem;
    background: white;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 999999;
    font-size: 1rem;
    color: #3487d4;
    line-height: 1.5;
}
.modal-dialog {
    margin: 7.75rem auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #c5d0e6;
    letter-spacing: 0.9px;
    font-weight: 550;
}
.navbar-light .navbar-nav .nav-link.selected {
  color: #ffb81c !important;
}

.main-area h1{
  color: #fff;
}
.main-area p,.page-title,.main-area .wont-spam{
  color: #c5d0e6;
}
.main-area .wont-spam{
  font-size: 1rem;
}
.title-text{
   color: #ffffff;
}
.sub-title-text{
   color: #7e8085;
}
.desc{
  color: #c5d0e6;
}
.hp-rocket{
    background: url(../img/hp-rocket.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20rem;
}
button.btn.btn-submit {
   background:#3487d4;
   color:#ffffff;
   font-size:13px;
   padding:8px 18px 
}
.hp-input-group-text input[type="checkbox"] {
    position:absolute;
    right: 1.2rem;
    top: 1rem;
    width: 1.25rem;
    height: 1.25rem;
}
.download-count{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.footer-section a {
  color:#7e8085;    
  font-size: 12px;
} 
.input-group>.input-group-append>.input-group-text{
   background:#3487d4;
   color:#ffffff;
   border-color: #3487d4 !important;
}
.hp-drop-down{
  border-color: #3487d4;
  background-color: #ffffff;
  color: #6c757d;
}
.icon-camera ,.icon {
  position: relative;
}
.icon-camera:before{
  content: '';
  display: inline-block;
  background: url(../img/photo-camera.png) no-repeat;
  height: 20px;
  width: 25px;
  position: absolute;
  left: -37px;
}
.icon-invoice:before{
  content: '';
  display: inline-block;
  background: url(../img/invoice.png) no-repeat;
  height: 27px;
  width: 34px;
  position: absolute;
  left: 5px;
  background-size: contain;
}
.icon-printer:before{
  content: '';
  display: inline-block;
  background: url(../img/printer.png) no-repeat;
  height: 27px;
  width: 34px;
  position: absolute;
  left: 5px;
  background-size: contain;
}
.icon-win:before{
  content: '';
  display: inline-block;
  background: url(../img/upload.png) no-repeat;
  height: 27px;
  width: 34px;
  position: absolute;
  left: 5px;
  background-size: contain;
}
.carousal-modal .modal-content{
  border: 0;
  background: none !important;
}
.carousel-inner > .item > img{
margin:auto;
width:100%
}
.carousal-modal .modal-content img {
    width: 90%;
    margin: 0 auto;
}
button#dropdownMenuButton {
    text-align: left;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 590px;
    }
    .carousal-modal .modal-dialog {
        max-width: 800px;
    }
    .hp-modal-sm.modal-dialog {
        max-width: 450px !important;
    }
    .carousel-control-next{
      left: 48rem;      
    }
    .carousel-control-prev{
      left: -8rem;
    }
    .modal-dialog {
        margin: 2.75rem auto;
    }

}
.parent {
   width: 42px; 
   height: 50px;
}
.parent img {
   height: 100%;
   width: 10%;
}
.d-md-block {
  display: block;
}

.d-sm-block{
  display: none !important;
}
.para-container p {
    padding-left:1.4rem !important;
}
@media (max-width: 576px){
      .hp-bg .container.page-landing {
        padding-top: 3rem;
    }
    .congo-entries-title span::after ,.congo-entries-title span::before{
      content: '';
      background: none !important;
    }
    .d-md-block {
      display: none !important;
    }

    .d-sm-block{
      display: block !important;
    }
    .navbar-brand {
      margin-left: 0%; 
      padding-left: 0rem !important;
    }
    .hp-modal-sm.modal-dialog{
      width:380px !important;
    }
    button.close::after {
      content: 'X';
      position: absolute;
      right: 0.1rem;
      top: -2rem;
      background: white;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      z-index: 999999;
      font-size: 1rem;
      color: #3487d4;
      line-height: 1.5;
    }
    nav.navbar {
      padding: .5rem 1rem;
    }
    .login-for-sm {
      display: flex !important; 
      flex: 1;
      flex-direction: row-reverse; 
      padding-right: 1rem;
    }
}
