html, body {
    overflow: auto;
}
@font-face {
  font-family: myHPFont;
  src: url(hp-simplified.ttf);
}
body{
  font-family: myHPFont;
  background-color: #01081f;
  font-size: 1rem;
  color: #ffffff;
}
.hp-bg{
    background: url(../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-color: #01081f; */
}
.top-img-col img{
  height: 80%;
}
.hp-h3{
  font-size: 1.7rem;
}
.hp-h3{
  font-size: 1.3rem;
}
.hp-h4{
  font-size: 1.0rem;
}
.hp-h5{
  font-size: 0.8rem;
}
.hp-h6{
  font-size: 0.5rem;
}
.navbar-inverse .navbar-nav > li > a{
  color: white !important;
  cursor: pointer;
}
.navbar{
  background: none !important;
  background-color: transparent !important;
} 
.subscribe-container{
  background:#151c32;
}
.text-hp-blue{
  color: #3487d4
}
.text-hp-green{
  color:#28ae62;
}
.text-hp-red{
  color:#e74c3c;
}
.navbar-brand{
      position: relative;
    margin-left: 5%;
}
.navbar-brand img{
   /*position: absolute;
    top: -30px;*/
}
.navbar-inverse {
  border: none !important;
}
.navbar-inverse .navbar-toggle{
  border: none !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background:none !important;
}
li.nav-item{
  text-align: right;
}
.error-msg{
 color: #d75a4a;
 text-align: center;
  background: #ec998b54;
  border: 1px solid;
  border-radius: 21px;
  font-size: 14px;
  padding: 2px 5px; 
}
.form-control{
   color:#929699;
}
.left-partition{
    padding: 0;
}
.right-partition{
  background:#ffffff;
  color:#4a4a4a;
}
.footer-section{
  color: #7e8085 !important;
  background: #151c32;
}
.page-container{  
  height: 100vh;
  overflow: auto;
}
.modal-header {
    position: relative;
    background: #3487d4;
}
.modal-head-icon{
  width:7%;
}
.modal-body{
  color:#333333;
}
button.close {
    position: absolute;
    right: -8rem;
    top: -7rem;
}

.modal-dialog {
    margin: 7.75rem auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #c5d0e6;
    letter-spacing: 0.9px;
    font-weight: 550;
}
.navbar-light .navbar-nav .nav-link.selected {
  color: #ffb81c !important;
}

.main-area h1{
  color: #fff;
}
.main-area p,.page-title,.main-area .wont-spam{
  color: #c5d0e6;
}
.main-area .wont-spam{
  font-size: 1rem;
}
.title-text{
   color: #ffffff;
}
.sub-title-text{
   color: #7e8085;
}
.desc{
  color: #c5d0e6;
}
.hp-rocket{
    background: url(../img/hp-rocket.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20rem;
}
button.btn.btn-submit {
   background:#3487d4;
   color:#ffffff;
   font-size:13px;
   padding:8px 18px 
}
.footer-section a {
  color:#7e8085;    
  font-size: 12px;
} 
.input-group>.input-group-append>.input-group-text{
   background:#3487d4;
   color:#ffffff;
   border-color: #3487d4 !important;
}